{% extends 'base.html' %}

{% block title %}Blog List{% endblock %}

{% block content %}
    <h2>Blog List</h2>
    <ul>
        {% for blog in page_obj %}
            <li><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a></li>
        {% endfor %}
    </ul>
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endblock %}
